extends menuLayout

block content
    #content(data-role="content")
        input#notificationId(type="hidden", value=data.id)
        input#notificationFromId(type="hidden", value=data.userId)
        h3 Notification Details
        span(id="notificationFrom")= data.userName + " "
        span() would like to
        span(id="notificationType")= " " + data.type
        span(id="notificationAmount")= " " + data.amount + " "
        span() Bitcoins for
        span(id="notificationAmountTotal")=" " + data.amount * data.rate
        button#notificationAccept(data-rel="back", class="notif-accept-btn") Accept
        button#notificationReject(data-rel="back", class="notif-reject-btn") Reject
    //button#searchTopNearestSubmit(data-rel="back") Back
